*
{
    margin:0;
    padding:0;
}
/*=================About the Navbar ===================*/
.navbar
{
    height:70px;
    width:100%;
    background-color:#000;
    display:grid;
    grid-template-columns: 300px 900px 260px;
    grid-template-rows: 70px;
    
}
/*
.active:hover
{
    border-bottom: 1px solid red;
    color:#fff

}  */
.nav1{
    color:#fff;
    margin-left:40px;
}
.nav1 h1
{
    color:#fff;
    text-decoration: none;
    border-bottom: black;
    
}
.nav1 .red
{
    color:red;
    font-size: 65px;
}
.line
{
    height:60px;
    width:2px;
    background-color: oldlace;
    position: absolute;
    margin-top:-70px;
    margin-left:220px;
}
.nav2 h2
{
    display:inline-block;
    margin-left:70px;
    padding:15px;
    color:#fff;
    outline-style: none;
    text-transform: uppercase;
    text-decoration: none;
}
.nav3
{
    background-color: #000;
}
.Bar input
{
    height:30px;
    margin-left:25px;
    padding:0px;
    width:200px;
    margin-top:10px;
}
.search
{
    color:#000;
    position: absolute;
    margin-left:-30px;
    margin-top:10px;
    font-size:35px;
}
/*==============About the Photo==============*/
.photo
{
    height:400px;
    width:400px;
    background-color: gray;
    margin-top:50px;
    margin-left:50px;
    display:inline-block;
}
